

.about-container-page {
    width: 80%;
    margin: auto;
}

.about-heading-page {
    margin-top: 3rem;
    background-color: var(--another-red);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 3rem;
}
.about-page-details {
   margin-top: 3rem;

   & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
   }
  & p {
      font-family: sans-serif;
      line-height: 1.7rem;
      font-size: 1.3rem;
      margin: 3rem;
   }
}